/* 
    Document   : css_mpg
    Created on : Jul 26, 2012, 9:13:39 AM
    Author     : YBD
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
background: #99CCFF;
}
h3 {
text-align:center;
text-shadow: 2px 2px 2px #F0F0F0;
}
h3:hover
{
/*background-color:yellow;*/
opacity: 0.6;
}
a:hover
{
background-color:#FFFF99;
}
table {
border:"0";
}
table#login {
    background-color:#B8DBFF;
}
tr {
padding-left:2px;
}
tr#menu {
color:#FFFFFF;
background-color:#B2E25B; /*#FFD700;*/
/*height:200px;
width:150px;*/
float:left;
}
tr#content {
background-color:#EEEEEE;
/*height:200px;
width:400px;*/
float:left;
}
tr#footer {
background-color:#70995C; /*#FFA500;*/
clear:both;
text-align:center;
}
td#content {
background-color:#FFA500;
}
td#header {
    color:#1a62db;
}
p#description {
    background-color:#C2FFA3;
}
p#tip {
    background-color:#C5FAA5;
}
p#copyright {
    color:#EEEEEE;
    text-shadow: 1px 1px #040404;
}
button::-moz-focus-inner {  border:0; padding:0; }
.button {
    font:normal 18px sans-serif;
    text-decoration:none;
    padding:2px 12px 3px 12px;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    vertical-align:middle;
    margin:0 8px;
}

button.style1 {
    display:inline-block; 
    padding:20px 20px 20px 20px; 
    color:#fff;
    border:1px solid #96cbf8;
    background:#448ed4;
    background:-moz-linear-gradient(top, #70b6f2, #448ed4 50%, #1a62db 51%, #3f8de1);
    background:-webkit-gradient(linear, left top, left bottom, from(#70b6f2), color-stop(50%, #448ed4), color-stop(51%, #1a62db), to(#3f8de1));
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-box-shadow:#777 0 0 0 1px;
    -webkit-box-shadow:#777 0 0 0 1px;
    text-shadow:rgba(0,0,0,.4) 0 -1px 0;
}
.button span { position:relative; }
.style1 .gradient {
    display:block;
    width:100%; height:200%;
    position:absolute;
    bottom:-100%; left:0;
    background:-moz-radial-gradient(center center, ellipse closest-side, rgba(126,233,248,.6), rgba(126,233,248,0));
    background:-webkit-gradient(radial, center bottom, 20, center bottom, 60, from(rgba(126,233,248,.6)), to(rgba(126,233,248,0)));
}
